@{
    ViewBag.Title = "Страница не найдена";
}

<section id="not_found" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1>Страница не найдена!</h1>
    @Html.ActionLink("Вернуться на главную", "Index", "Home")
</section>