@{
    ViewBag.Title = "Критическая ошибка";
}

<section id="not_found" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <img src="~/img/sad_logo.png" height="500" width="500" style="object-fit: cover;"/>
    <h1>Произошла критическая ошибка!</h1>
    <p>Если вы видите эту страницу, пожалуйста обратитесь к администратору.</p>
    @Html.ActionLink("Вернуться на главную", "Index", "Home")
</section>