.btn {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    -webkit-appearance: none;
    border: none;
    display: inline-block;
    padding: 0 20px;
    line-height: 45px;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: color, background, border, -webkit-box-shadow;
    transition-property: color, background, border, -webkit-box-shadow;
    -o-transition-property: color, background, border, box-shadow;
    -moz-transition-property: color, background, border, box-shadow, -moz-box-shadow;
    transition-property: color, background, border, box-shadow;
    transition-property: color, background, border, box-shadow, -webkit-box-shadow, -moz-box-shadow;
    cursor: pointer;
    float: none;
}

.btn-primary {
    -webkit-box-shadow: 0 8px 15px rgba(0,0,0,.1);
    -moz-box-shadow: 0 8px 15px rgba(0,0,0,.1);
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    border: none;
    background: #fff;
    color: var(--text-primary);
}

    .btn-primary-hover,
    .btn-primary:hover,
    .search-btn:hover {
        color: var(--color-torquoise);
    }

.btn-turquoise {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid var(--color-torquoise);
    background: var(--color-torquoise);
    color: #fdfdfd;
}

a,
.btn-link {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    display: block;
    text-decoration: underline;
    background: none;
    border: none;
    color: var(--color-torquoise);
}

    a:hover,
    .btn-link:hover {
        text-decoration: none;
    }

.btn-turquoise-hover,
.btn-turquoise:hover {
    -webkit-box-shadow: 0 0 6px var(--color-torquoise);
    -moz-box-shadow: 0 0 6px var(--color-torquoise);
    box-shadow: 0 0 6px var(--color-torquoise);
}

.btn-secondary {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: var(--text-primary);
    border: 1px solid #d1d1d1;
    background: #fff;
}

.search-btn {
    -webkit-border-radius: 0 45px 45px 0;
    -moz-border-radius: 0 45px 45px 0;
    border-radius: 0 45px 45px 0;
    background: #fff;
}

.btn-upload-img {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 2rem;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

    .btn-secondary-hover,
    .btn-upload-img:hover,
    .btn-secondary:hover {
        color: var(--color-torquoise);
        border: 1px solid var(--color-torquoise);
    }

    .btn-upload-img i {
        padding: 0;
        margin: 0;
    }

.upload-icon {
    width: 60px;
    height: 60px;
}
