.card-light {
    background: #fff;
    -webkit-box-shadow: 0 8px 15px rgba(0,0,0,.1);
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 10px;
}

.card-text {
    text-align: left;
    color: #b1b1b1;
}

.card-price {
    text-align: left;
    color: var(--color-torquoise);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: auto;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    background: var(--color-light);
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border: 1px solid #fafafa;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5 {
    margin: 0;
    padding: 0;
}

.card-header {
    margin-bottom: 2rem;
}
