.form-group {
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
}

.text-input {
    font-size: 1.1rem;
    padding: 15px 15px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    border: 1px solid #d1d1d1;
    border-radius: 15px;
}

.text-input:focus {
    border: 1px solid #00d1a5;
}

.text-input-bl {
    border: none;
    font-size: 1.1rem;
    border-radius: 45px 0 0 45px;
    padding: 10px 20px;
    border: none;
}

.radio-block {
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    padding: 0.2rem;
}

.radio-label input ~ span {
    display: block;
    cursor: pointer;
    padding: 1rem;
    border-radius: 15px;
}

.radio-label input:checked ~ span {
    color: #fff;
    background: var(--color-torquoise);
}

.tab-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}