.form-group {
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
}

.text-input {
    font-size: 1.1rem;
    padding: 15px 15px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    border: 1px solid #d1d1d1;
    border-radius: 15px;
}

.text-input:focus {
    border: 1px solid #00d1a5;
}

.search-block {
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 45px;
    padding: 0 !important;
}

.text-input-bl {
    border: none;
    font-size: 1.1rem;
    border-radius: 45px 0 0 45px;
    padding: 10px 20px;
    border: none;
}