header {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: var(--color-light);
}

nav#menu h1,
nav#menu h2,
nav#menu h3,
nav#menu h4,
nav#menu h5 {
    margin: 0;
    padding: 0;
}

nav#menu {
    padding-top: 1rem;
}

nav#menu a {
    color: var(--text-primary);
}

nav#menu .menu-links button,
nav#menu .menu-links a {
    margin: 0;
    padding: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

nav#menu .menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.4rem;
    background-color: rgba(195, 255, 235, 1);
}

nav#menu .menu-links button:hover,
nav#menu .menu-links a:hover {
    text-decoration: underline;
}

nav#menu .search-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    min-width: 100%;
}

nav#menu input.search-input {
    width: 100%;
    border: none;
    background: white;
    padding: 0.6rem 1rem;
    border-radius: 20px 0 0 20px;
    font-size: 1rem;
}

nav#menu button.search-btn {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-radius: 0 20px 20px 0;
    background-color: white;
}

nav#menu button.search-btn i {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    color: var(--text-primary);
}

nav#menu button.search-btn:hover i {
    color: var(--color-torquoise);
}

nav#menu .cart-count {
    font-size: 0.5rem;
    color: #fff;
    background-color: var(--color-torquoise);
    padding: 5px;
    line-height: 5px;
    margin: -0.5rem 0 0 -0.5rem;
    border-radius: 50%;
}

nav#menu .bar-logo {
    height: 70px;
    width: 70px;
}

nav#menu .logo-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav#menu .logo-header span {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
}

nav#menu .logo-header span:first-child {
    font-size: 1.6rem;
}

nav#menu .responsive {
    z-index: 100;
    margin: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 0;
    background-color: white;
    width: auto;
    min-width: 260px;
}

nav#menu .responsive button,
nav#menu .responsive a {
    padding: 0.6rem 3rem 0.6rem 1rem;
    font-weight: 400;
}

nav#menu .responsive a.a-arrow {
    padding: 0.6rem 1rem 0.6rem 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav#menu .show-bar-btn,
nav#menu .close {
    display: none;
}

nav#menu .menu-links.responsive .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(195, 255, 235);
    padding: 1rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    width: 100%;
    border-radius: 0;
}

nav#menu .menu-links.responsive .close:hover {
    text-decoration: none;
}

nav#menu div.bar-back {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
    background: black;
}

nav#menu .icon-links a:first-child {
    margin-right: 0.6rem;
}

@media screen and (max-width: 870px) {
    nav#menu {
        padding: 0.5rem 0;
        background-color: var(--bg-secondary);
    }

    nav#menu .search-block {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav#menu .search-block button.search-btn,
    nav#menu .search-block input.search-input {
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
    }

    nav#menu .menu-links {
        display: none;
        margin-top: 0;
    }

    nav#menu .menu-links div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
    }

    nav#menu .bar-hide,
    nav#menu .logo-header {
        display: none;
    }

    nav#menu .show-bar-btn,
    nav#menu .menu-links .close {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav#menu .bar-logo {
        height: 30px;
        width: 30px;
    }

    nav#menu .btn-borderless {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0.6rem;
    }

    nav#menu .icon-links a:first-child {
        margin-right: 0;
    }
}

nav#menu .dropdown {
    position: relative;
}

nav#menu .responsive .dropdown-content {
    position: static;
}

nav#menu .responsive .dropdown-content a {
    background: #f1f1f1;
}

nav#menu .responsive .dropdown-content a:hover {
    text-decoration: underline;
    background: var(--color-lgray);
}

nav#menu .dropdown-content {
    display: none;
    position: absolute;
    background: var(--color-light);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav#menu .dropdown-content a {
    min-width: 240px;
}

nav#menu .r-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: var(--color-light);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 200px;
    min-height: 100%;
}

nav#menu .responsive .r-dropdown {
    position: relative;
}

nav#menu .responsive .r-dropdown-content {
    left: 100%;
    height: 100%;
    position: static;
}

nav#menu .r-dropdown-content a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav#menu .r-dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

nav#menu .dropdown-content a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav#menu .dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

nav#menu .dropdown:focus .dropdown-content,
nav#menu .dropdown:hover .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav#menu .r-dropdown:focus .r-dropdown-content,
nav#menu .r-dropdown:hover .r-dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2rem 0rem;
}

.breadcrumb a {
    color: var(--text-secondary);
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--color-torquoise);
}

.breadcrumb a:after {
    padding: 0 8px;
    content: "\f101";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--text-secondary);
}
