:root {
    --text-primary: #535353;
    --color-secondary: #A3D5FF;
    --bg-primary: rgba(255, 255, 255, 1);
    --bg-secondary: rgba(195, 255, 235, 1);
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(0deg, var(--bg-secondary) 0%, var(--bg-primary) 100%);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
}

a {
    color: #19a4a8;
}

a:hover {
    text-decoration: none;
}

.selected {
    background-color: var(--bg-secondary);
}

table.table {
    border-spacing: 0 0;
    width: 100%;
}

table.table th{
    text-align: left;
}

table.table th, td {
    padding: 10px;
    border: 1px solid rgba(233, 233, 233, 1);
    border-right: none;
    border-top: none;
    background: white;
}


.search-block {
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 45px;
}

.search-btn {
    border-radius: 0 45px 45px 0;
    border: none;
}

.btn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 0px 20px;
    line-height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    color: #524f4e;
    background: white;
    -webkit-transition: .3s;
    cursor: pointer;
}

.btn-primary {
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 45px;
    border: none;
}

.btn-secondary {
    background: #00d1a5;
    color: #fff;
    box-shadow: 0 8px 15px rgba(0, 209, 165, 0.3);
    border-radius: 45px;
    border: none;
    font-weight: 600;
}

.btn-upload-img {
    background: #fff;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 25px;
    padding: 2rem;
    cursor: pointer;
}
.btn-upload-img i {
    padding: 0px;
    margin: 0px;
}

.upload-icon {
    width: 60px;
    height: 60px;
}

.text-input-bl {
    border: none;
    font-size: 1.1rem;
    border-radius: 45px 0 0 45px;
    padding: 10px 20px;
    border: none;
}

.menu {
    background: var(--bg-secondary);
    box-shadow: 0 8px 15px rgba(203, 249, 234, 0.3);
}

.menu a {
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    color: var(--text-primary);
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.menu a:hover {
    text-decoration: underline;
}

.logo-text {
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
}

.logo-subtext {
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
}

.text-input {
    border: none;
    font-size: 1.1rem;
    padding: 15px 30px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border: 1px solid #e0feff;
    border-radius: 45px;
}

.num-input {
    border: none;
    font-size: 1.1rem;
    padding: 15px 30px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    border: 1px solid #B1B1B1;
    border-radius: 45px;
}

    .num-input:focus {
        border: 1px solid #19a4a8;
    }

    .text-input:focus {
        border: 1px solid #19a4a8;
    }

.toy-img {
    object-fit: cover;
}

.toy-item {
    display: inline-flex;
    overflow: hidden;
    margin: 40px 2.5rem 0 0;
    color: var(--text-primary);
    margin: 20px 20px 0 0;
    width: 200px;
    border-radius: 5px;
    background: #F4FEFF;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border: 1px solid #F4FEFF;
    transition-duration: 0.3s;
}

    .toy-item:hover {
        border: 1px solid var(--color-secondary);
    }

.toy-header {
    display: flex;
    transition-duration: 0.2s;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

.toy-header:hover {
    text-decoration: underline;
}

.toy-price {
    display: flex;
    color: #19a4a8;
    font-weight: bold;
    align-self: end;
    margin-top: 1rem;
}

.toy-text {
    display: flex;
    padding: 1.2rem;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: var(--text-primary);
    padding: 2rem;
}

.lcard {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    color: var(--text-primary);
}

.card-light {
    background: #fff;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 10px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-text {
    text-align: left;
    color: #B1B1B1;
}

.card-price {
    text-align: left;
    color: #19a4a8;
    font-size: 2rem;
}

.card-actions {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.h-100 { min-height: 100%; }
.w-100 { width: 100%; }

.toy-image-thumb {
    width: 100%;
    margin-top: 10px;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.toy-image-thumbs img:first-child {
    margin-left: 0;
}

.toy-image-main {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.collapse {
    display: none;
}