:root {
    --text-primary: #535353;
    --text-secondary: #7F7F7F;
    --bg-primary: rgba(255, 255, 255, 1);
    --bg-secondary: rgba(195, 255, 235, 1);
    --color-torquoise: #00d1a5;
    --color-light: #fdfdfd;
    --color-lgray: #d1d1d1;
}

*, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
}

strong {
    font-weight: 600;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-turquoise {
    color: var(--color-torquoise);
}

.wrapper {
    min-height: 100%;
    padding-bottom: 70px;
    background: -o-linear-gradient(bottom, var(--bg-secondary) 0%, var(--bg-primary) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(var(--bg-secondary)), to(var(--bg-primary)));
    background: linear-gradient(0deg, var(--bg-secondary) 0%, var(--bg-primary) 100%);
}

footer {
    height: 50px;
    padding: 10px;
    margin-top: -70px;
    font-size: 0.9rem;
}

.selected {
    background-color: var(--bg-secondary);
}

table.table {
    border-spacing: 0 0;
    width: 100%;
}

table.table th,
table.table td {
    text-align: left;
}

table.table td a {
    display: inline-block;
}

table.table th:first-child,
table.table td:first-child {
    text-align: left;
}

table.table th, td {
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    background: white;
}

.toy-img {
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 250px;
}

.toy-item {
    text-decoration: none;
    overflow: hidden;
    margin-top: 1.2rem;
    color: var(--text-primary);
    border-radius: 5px;
    background: var(--color-light);
    width: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    max-width: 300px;
}

.toy-item:hover {
    -webkit-box-shadow: 0 14px 14px rgba(0, 0, 0, .13), 0 10px 10px rgba(0, 0, 0, .13);
    box-shadow: 0 14px 14px rgba(0, 0, 0, .13), 0 10px 10px rgba(0, 0, 0, .13);
}

.toy-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.1em;
    font-weight: 500;
}

.toy-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--color-torquoise);
    font-weight: bold;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    align-self: end;
    margin-top: 1rem;
}

.toy-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.toy-text h2 {
    margin: 0 0 0.7rem 0;
}

.h-100 {
    min-height: 100%;
}

.w-100 {
    width: 100%;
}

.toy-images-block {
    background: #fdfdfd;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 0.6rem;
}

.toy-image-thumb {
    width: 100%;
    margin-top: 10px;
    margin-left: 2%;
    border-radius: 10px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    border: 1px solid #d1d1d1;
}

.toy-image-thumbs img:first-child {
    margin-left: 0;
}

.toy-image-main {
    width: 100%;
    max-height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.collapse {
    display: none;
}

.img-preview {
    border-radius: 10px;
    cursor: pointer;
}

.img-preview img {
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

.cart-item {
    border-bottom: 1px solid #d1d1d1;
}

.cart-item img {
    border-radius: 15px;
}

.cart-item:last-child {
    border: none;
}

.cart-length {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 15px;
    font-size: 0.5rem;
    background: var(--color-torquoise);
    line-height: 5px;
    padding: 5px;
    margin: 5px -0.5rem 0 -0.5rem;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
    color: white;
}

.alert {
    border-radius: 5px;
    padding: 1rem 2rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.empty-text {
    color: #b1b1b1;
    text-align: center;
}

.img-menu {
    opacity: 0;
    position: relative;
    margin-top: -130px;
    height: 130px;
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.img-menu i {
    height: 20px;
    line-height: 20px;
}

.img-menu i:first-child {
    margin-right: 5px;
}

.img-menu:hover, img-menu:active {
    opacity: 1;
}

.cart-img {
    -o-object-fit: cover;
    object-fit: cover;
}

.order-fields div {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.order-fields div div {
    overflow-wrap: anywhere;
}

.order-fields div div:first-child {
    color: gray;
}

hr {
    background-color: #d1d1d1;
    color: #d1d1d1;
}

.order-status-1 td {
    background-color: #d4ffd4;
}

.order-status-2 td {
    background-color: #f4f2f2;
}
