@{
    ViewBag.Title = PageNameDefaults.Contacts.WithDomain();
    ViewBag.Description = "Контакты интернет-магазина детских игрушек ugugushka.by в Минске";
    ViewBag.KeyWords = $"контакты информация график адрес телефон почта email {PageNameDefaults.KeyWords}";
}

@Html.BreadCrumb(PageNameDefaults.Contacts, (c, q) => Url.Action(c , q))

    <section class="d-flex flex-row flex-wrap card mb-5">
        <div class="card-header col-12 p-0">
            <h1>@PageNameDefaults.Contacts</h1>
        </div>
        <section class="d-flex col-12">
            <iframe class="d-flex w-100"
                    height="400"
                    frameborder="0" 
                    style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRVtDcmvP20YR-u4Skgushv0&key=AIzaSyATZZQtH94wI12mrEo6lDzJWjuPFIxZ4mc" 
                    allowfullscreen>
            </iframe>
        </section>
        <section class="d-flex flex-column col-12 col-sm-6 mt-3">
            <div class="card-subheader">
                <h2>Адреса</h2>
            </div>
            <div class="d-flex">
                <address>г.Минск, улица Леонида Беды 39</address>
            </div>
        </section>
        <section class="d-flex flex-column col-12 col-sm-6 mt-3">
            <div class="card-subheader">
                <h2>Время работы</h2>
            </div>
            <div class="d-flex flex-column">
                <div>
                    <strong>Магазин:</strong> c <time>10:00</time> до <time>20:00</time><br />
                </div>
                <div>
                    <strong>Интернет-магазин:</strong> с <time>11:00</time> до <time>21:00</time>
                </div>
            </div>
        </section>
        <section class="d-flex flex-column col-12 col-sm-6 mt-3">
            <div class="card-subheader">
                <h2>Контактный номер телефона</h2>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center">
                    <img class="mr-2" height="20" width="20" src="~/img/mts_logo.png" alt="МТС"/>
                    <a href="tel:+375298518105">+375 (29) 851-81-05</a>
                </div>
                <div class="d-flex align-items-center">
                    <img class="mr-2" height="20" width="20" src="~/img/a1_logo.png" alt="А1 (Велком)"/>
                    <a href="tel:+375445129567">+375 (44) 512-95-67</a>
                </div>
            </div>
        </section>
        <section class="d-flex flex-column col-12 col-sm-6 mt-3">
            <div class="card-subheader">
                <h2>Адрес электронной почты</h2>
            </div>
            <div class="d-flex">
                <a href="mailto:support@ugugushka.by">support@ugugushka.by</a>
            </div>
        </section>
        <section class="d-flex flex-column col-12 col-sm-6 mt-3">
            <div class="card-subheader">
                <h2>Социальные сети</h2>
            </div>
            <div class="d-flex align-items-center">
                <img class="mr-2" height="20" width="20" src="~/img/inst_logo.png" alt="instagram"/>
                <a href="https://www.instagram.com/ugugusha_igrushki/">ugugusha_igrushki</a>
            </div>
        </section>
    </section>