@{
    ViewBag.Title = PageNameDefaults.Contacts.WithDomain();
}

<section class="card mt-5">
    <div class="card-header">
        <h1>@PageNameDefaults.Contacts</h1>
    </div>
    <section>
        <p>
            <strong>Адрес магазина:</strong> <address>г.Минск, улица Леонида Беды 39</address>
        </p>
        <p>
            <strong>Время работы:</strong> c <time>10:00</time> до <time>20:00</time>
        </p>
        <p>
            <strong>Время работы интернет-магазина:</strong> с <time>11:00</time> до <time>21:00</time>
        </p>
        <p><strong>Контактный номер телефона:</strong></p>
        <p><a href="tel:+375298518105">+375 (29) 851-81-05</a> МТС</p>
        <p><a href="tel:+375445129567">+375 (44) 512-95-67</a> А1 (Велком)</p>
        <p><strong>Адрес электронной почты:</strong> <a href="mailto:support@ugugushka.by">support@ugugushka.by</a></p>
    </section>
</section>