@model Ugugushka.Domain.DtoModels.Cart

<a class="btn btn-borderless d-flex" href="@Url.Action("Index", "Cart", new {ReturnUrl= Context.Request.Path})">
    <i class="d-flex fas fa-shopping-cart"></i>
    @if (Model.Lines.Any())
    {
        <span class="d-flex align-self-start cart-count">@Model.Lines.Count()</span>
    }
    <span class="d-none d-lg-flex">Корзина</span>
</a>